@charset "utf-8";

body{
	text-align: center;
	background-image: linear-gradient(
		transparent 5%,
		palegreen 30%,
		transparent 100%
	);
	background-attachment: fixed !important;
	font-family: "ヒラギノ明朝 Pro"
}

h1{
	text-align: center;
	padding: 8px;
	font-size: 36px;
}

h2{
	/* text-align: center; */
	margin-left: 32px;
}

.title{
	width: 80%
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	background-image: linear-gradient(
		lightgreen 90%,
		transparent 100%
	);
	border: thick inset palegreen;
}

.buses{
	
}

.hotels{
	
}

.make{
	
}

.charge{
	
}

.notice{
	color: red;	
}